* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
body {
  font-family: "Cabin", sans-serif;
}
// header black
header {
  background-color: rgb(216, 212, 212);
  padding-bottom: 40px;
  .head {
    background-color: black;
    h4 {
      padding: 10px 220px;
      align-items: center;
      height: 2.5rem;
      color: white;
      a {
        color: white;
      }
    }
  }
}
// navbar
.container {
  margin: 40px 130px;
  .navbar {
    display: flex;
    justify-content: space-between;
    .navlink ul {
      display: flex;
      li {
        margin: 0 20px;
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    .btn {
      margin-top: -8px;
      .light {
        background: none;
        border: none;
        margin-right: 10px;
      }
      .black {
        color: white;
        background-color: black;
        padding: 10px;
        border: none;
        border-radius: 5px;
      }
    }
    .toggle-button {
      display: none;
    }
  }
}

// head text
.main {
  margin: 40px 130px;
  display: flex;
  .text {
    h1 {
      font-size: 60px;
    }
    .text-main {
      margin: 20px 0;
      line-height: 30px;
    }
    width: 650px;
    margin-right: 50px;
    margin-top: 50px;
    ul {
      margin: 30px 0;
      li {
        list-style: none;
        display: flex;
        margin: 10px 0;
        img {
          margin: -3px 10px 0 0;
        }
      }
    }
    .mid-btn {
      .email {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
      }
      .get {
        padding: 10px;
        margin-left: 10px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: none;
      }
    }
  }
  .images {
    width: 450px;
    .desktop {
      width: 450px;
    }
    .tablet {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
}

//brands
.brands {
  .container {
    ul {
      overflow: scroll;
      display: flex;
      li {
        list-style: none;
        margin-right: 20px;
        img {
          width: 120px;
          height: 25px;
        }
      }
    }
  }
}

// article
article {
  margin: 40px 130px;
  background-color: rgb(216, 212, 212);
  height: 310px;
  .detail {
    padding: 10px 70px;
    display: flex;
    .text {
      padding: 40px;
      width: 785px;
      letter-spacing: 1px;
      h2 {
        font-size: 40px;
        width: 400px;
      }
      p {
        padding: 20px 0;
      }
      a {
        color: black;
      }
    }
    .image {
      width: 650px;
      img {
        width: 650px;
        height: 300px;
        position: absolute;
        right: 150px;
      }
    }
  }
}

// last content
section {
  margin: 40px 30px;
  .content {
    display: flex;
    .frame {
      width: 900px;
      .pic {
        width: 890px;
      }
    }
    .describe {
      width: 300px;
      margin: 150px 0;
      p {
        padding: 20px 0;
      }
      a {
        color: black;
      }
    }
  }
}

//footer
footer {
  background-color: black;
  color: white;
  .end {
    margin: 40px 130px 0;
    padding: 40px 0;
    display: flex;
    .brand {
      width: 350px;
      margin-right: 150px;
      p {
        padding: 10px 0;
        color: rgb(165, 161, 154);
      }
    }
    .left {
      display: flex;
    }
    .right {
      display: flex;
    }

    .nav {
      ul {
        padding-right: 100px;
        li {
          margin-top: 10px;
          list-style: none;
          a {
            color: rgb(156, 153, 153);
            text-decoration: none;
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 768px) {
  header {
    .head {
      h4 {
        padding: 0 20px;
        text-align: center;
      }
    }
  }
  .container {
    margin: 40px 20px;
  }
  .main {
    margin: 40px 20px;
    flex-direction: column;
    .text {
      order: 2;
      width: 620px;
    }
    .images {
      .desktop {
        display: none;
      }
      .tablet {
        display: block;
        width: 625px;
      }
    }
  }
  //article
  article {
    margin: 20px;
    height: 560px;
    .image {
      margin-top: 250px;
    }
  }
  // last content
  section {
    margin: 20px;
    .content {
      flex-direction: column;
      .frame {
        order: 2;
        width: 600px;
        .pic {
          width: 600px;
        }
      }
      .describe {
        width: 600px;
      }
    }
  }
  //footer
  footer {
    height: 400px;
    .end {
      margin: 40px 20px;
      .right {
        position: absolute;
        margin-top: 200px;
      }
    }
  }
}

// mobile

@media screen and (max-width: 576px) {
  header {
    .head {
      display: flex;
      padding: 10px 30px;
      height: 70px;
      h2 {
        display: flex;
        letter-spacing: 2px;
        text-align: center;
      }
    }
  }
  .container {
    margin: 40px 30px;
    .navbar {
      .navlink {
        background-color: rgb(192, 190, 188);
        margin-top: 30px;
        width: 300px;
        height: 200px;
        display: none;
        padding: 10px 110px;
        ul {
          flex-direction: column;
          align-items: center;

          li {
            margin: 10px;
          }
        }
      }
      .navlink.active {
        display: flex;
      }

      .btn {
        position: absolute;
        top: 275px;
        left: 200px;
        display: none;
      }
      .btn.active {
        display: block;
      }
      .toggle-button {
        display: block;
      }
    }
  }
  //main
  .main {
    .text {
      width: 450px;
    }
    .images {
      .tablet {
        display: none;
      }
      .mobile {
        display: block;
        width: 450px;
      }
    }
  }
  //article
  article {
    height: 590px;
    .detail {
      width: 300px;

      margin: 0 -70px;
      .text {
        padding: 50px;
        width: 450px;
      }
      .image {
        margin: 280px;
        margin-left: 100px;
      }
    }
  }
  // last content
  section {
    margin: -100px 30px;
    .content {
      flex-direction: column;
      .frame {
        margin: -100px 0;
        order: 2;
        width: 450px;
        .pic {
          width: 450px;
        }
      }
      .describe {
        width: 380px;
      }
    }
  }
  // footer
  footer {
    .end {
      flex-direction: column;
      .brand {
        width: 400px;
        margin-right: 50px;
      }
      margin: 200px 20px;
    }
    .left {
      order: 2;
    }
    .nav {
      margin-right: 80px;
    }
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      margin-top: 40px;
    }
  }
}
