* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(216, 212, 212);
  padding-bottom: 40px;
}
header .head {
  background-color: black;
}
header .head h4 {
  padding: 10px 220px;
  align-items: center;
  height: 2.5rem;
  color: white;
}
header .head h4 a {
  color: white;
}

.container {
  margin: 40px 130px;
}
.container .navbar {
  display: flex;
  justify-content: space-between;
}
.container .navbar .navlink ul {
  display: flex;
}
.container .navbar .navlink ul li {
  margin: 0 20px;
  list-style: none;
}
.container .navbar .navlink ul li a {
  text-decoration: none;
  color: black;
}
.container .navbar .btn {
  margin-top: -8px;
}
.container .navbar .btn .light {
  background: none;
  border: none;
  margin-right: 10px;
}
.container .navbar .btn .black {
  color: white;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.container .navbar .toggle-button {
  display: none;
}

.main {
  margin: 40px 130px;
  display: flex;
}
.main .text {
  width: 650px;
  margin-right: 50px;
  margin-top: 50px;
}
.main .text h1 {
  font-size: 60px;
}
.main .text .text-main {
  margin: 20px 0;
  line-height: 30px;
}
.main .text ul {
  margin: 30px 0;
}
.main .text ul li {
  list-style: none;
  display: flex;
  margin: 10px 0;
}
.main .text ul li img {
  margin: -3px 10px 0 0;
}
.main .text .mid-btn .email {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
.main .text .mid-btn .get {
  padding: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}
.main .images {
  width: 450px;
}
.main .images .desktop {
  width: 450px;
}
.main .images .tablet {
  display: none;
}
.main .images .mobile {
  display: none;
}

.brands .container ul {
  overflow: scroll;
  display: flex;
}
.brands .container ul li {
  list-style: none;
  margin-right: 20px;
}
.brands .container ul li img {
  width: 120px;
  height: 25px;
}

article {
  margin: 40px 130px;
  background-color: rgb(216, 212, 212);
  height: 310px;
}
article .detail {
  padding: 10px 70px;
  display: flex;
}
article .detail .text {
  padding: 40px;
  width: 785px;
  letter-spacing: 1px;
}
article .detail .text h2 {
  font-size: 40px;
  width: 400px;
}
article .detail .text p {
  padding: 20px 0;
}
article .detail .text a {
  color: black;
}
article .detail .image {
  width: 650px;
}
article .detail .image img {
  width: 650px;
  height: 300px;
  position: absolute;
  right: 150px;
}

section {
  margin: 40px 30px;
}
section .content {
  display: flex;
}
section .content .frame {
  width: 900px;
}
section .content .frame .pic {
  width: 890px;
}
section .content .describe {
  width: 300px;
  margin: 150px 0;
}
section .content .describe p {
  padding: 20px 0;
}
section .content .describe a {
  color: black;
}

footer {
  background-color: black;
  color: white;
}
footer .end {
  margin: 40px 130px;
  padding: 40px 0;
  display: flex;
}
footer .end .brand {
  width: 350px;
  margin-right: 150px;
}
footer .end .brand p {
  padding: 10px 0;
}
footer .end .left {
  display: flex;
}
footer .end .right {
  display: flex;
}
footer .end .nav ul {
  padding-right: 100px;
}
footer .end .nav ul li {
  margin-top: 10px;
  list-style: none;
}
footer .end .nav ul li a {
  color: rgb(156, 153, 153);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header .head h4 {
    padding: 0 20px;
    text-align: center;
  }
  .container {
    margin: 40px 20px;
  }
  .main {
    margin: 40px 20px;
    flex-direction: column;
  }
  .main .text {
    order: 2;
    width: 620px;
  }
  .main .images .desktop {
    display: none;
  }
  .main .images .tablet {
    display: block;
    width: 625px;
  }
  article {
    margin: 20px;
    height: 560px;
  }
  article .image {
    margin-top: 250px;
  }
  section {
    margin: 20px;
  }
  section .content {
    flex-direction: column;
  }
  section .content .frame {
    order: 2;
    width: 600px;
  }
  section .content .frame .pic {
    width: 600px;
  }
  section .content .describe {
    width: 600px;
  }
  footer {
    height: 400px;
  }
  footer .end {
    margin: 40px 20px;
  }
  footer .end .right {
    position: absolute;
    margin-top: 200px;
  }
}
@media screen and (max-width: 576px) {
  header .head {
    display: flex;
    padding: 10px 30px;
    height: 70px;
  }
  header .head h2 {
    display: flex;
    letter-spacing: 2px;
    text-align: center;
  }
  .container {
    margin: 40px 30px;
  }
  .container .navbar .navlink {
    background-color: rgb(192, 190, 188);
    margin-top: 30px;
    width: 300px;
    height: 200px;
    display: none;
    padding: 10px 110px;
  }
  .container .navbar .navlink ul {
    flex-direction: column;
    align-items: center;
  }
  .container .navbar .navlink ul li {
    margin: 10px;
  }
  .container .navbar .navlink.active {
    display: flex;
  }
  .container .navbar .btn {
    position: absolute;
    top: 275px;
    left: 200px;
    display: none;
  }
  .container .navbar .btn.active {
    display: block;
  }
  .container .navbar .toggle-button {
    display: block;
  }
  .main .text {
    width: 450px;
  }
  .main .images .tablet {
    display: none;
  }
  .main .images .mobile {
    display: block;
    width: 450px;
  }
  article {
    height: 590px;
  }
  article .detail {
    width: 300px;
    margin: 0 -70px;
  }
  article .detail .text {
    padding: 50px;
    width: 450px;
  }
  article .detail .image {
    margin: 280px;
    margin-left: 100px;
  }
  section {
    margin: -100px 30px;
  }
  section .content {
    flex-direction: column;
  }
  section .content .frame {
    margin: -100px 0;
    order: 2;
    width: 450px;
  }
  section .content .frame .pic {
    width: 450px;
  }
  section .content .describe {
    width: 380px;
  }
  footer .end {
    flex-direction: column;
    margin: 200px 20px;
  }
  footer .end .brand {
    width: 400px;
    margin-right: 50px;
  }
  footer .left {
    order: 2;
  }
  footer .nav {
    margin-right: 80px;
  }
  footer .nav1,
footer .nav2,
footer .nav3,
footer .nav4 {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */